<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>

    <title>NBA Dashboard</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid" id="nav-center">
    <a class="navbar-brand" href="#"><img src="/images/nbalogo.png" width="23" height="46" class="d-inline-block align-top" alt=""></a>
    <a class="navbar-text" style="font-weight: bolder">NBA Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/scores">Scores<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/standings">Standings</a>
            <a class="nav-item nav-link" href="/teams">Teams</a>
            <a class="nav-item nav-link" href="/stats">Stats</a>
            <a class="nav-item nav-link disabled" href="#">Disabled</a>
        </div>
    </div>
    </div>
</nav>
<div style="margin-left: 20px">
<!--<h1><span th:text="${appName}">Our App</span></h1>-->
 <h1>Today's NBA Scoreboard</h1>
<!--<p>Welcome to <span th:text="${appName}">Our App</span></p>-->
<table class="table table-sm ; align-middle ; text-center" border="1" style="width:300px; text-align: center">
    <th colspan="2" nowrap="nowrap">Visiting Team</th>
    <th colspan="1">Score</th>
    <th colspan="2" nowrap="nowrap">Home Team</th>
    <th colspan="1">Highlights</th>
    <tr th:each="gameResult : ${gameResults}">
            <td><img th:src="@{${'images/' + gameResult.getVTeam().getTeamId()  + '.gif'}}" th:height="20" th:width="30"></td>
            <td th:text="${gameResult.getVTeam().getTriCode()}" style="text-align: center"></td>
            <td th:text="${gameResult.getVTeam().getScore() + ':' + gameResult.getHTeam().getScore()}" style="text-align: center"></td>
            <td th:text="${gameResult.getHTeam().getTriCode()}"style="text-align: center;"></td>
            <td><img th:src="@{${'images/' + gameResult.getHTeam().getTeamId()  + '.gif'}}" th:height="20" th:width="30"></td>
            <td th:text="${gameResult.getNugget().getText()}" style="text-align: center" nowrap="nowrap"></td>
    </tr>
</table>
</div>
</body>
</html>