<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>

    <title>NBA Dashboard</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid" id="nav-center">
        <a class="navbar-brand" href="#"><img src="/images/nbalogo.png" width="23" height="46" class="d-inline-block align-top" alt=""></a>
        <a class="navbar-text" style="font-weight: bolder">NBA Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/scores">Scores</a>
                <a class="nav-item nav-link active" href="/standings">Standings<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/teams">Teams</a>
                <a class="nav-item nav-link" href="/stats">Stats</a>
                <a class="nav-item nav-link disabled" href="#">Disabled</a>
            </div>
        </div>
    </div>
</nav>
<div style="margin-left: 30px">

    <h1><span th:text="${pageName}">Page Name</span></h1>
    <p>Welcome to <span th:text="${pageName}">Our App</span></p>

        <div class="row">

        <table class="table table-sm ; align-middle ; text-center" border="1" style="width:300px ; text-align: center">
        <tr>
            <th colspan="8">Western Conference</th>
        </tr>
        <th colspan="1">#</th>
        <th colspan="2">Team</th>
        <th colspan="1">Wins</th>
        <th colspan="1">Losses</th>
        <th colspan="1" nowrap="nowrap">Win %</th>
        <!--<th colspan="1" >Home wins</th>-->
        <!--<th colspan="1" >Home losses</th>-->
        <!--<th colspan="1" >Away wins</th>-->
        <!--<th colspan="1">Away losses</th>-->
        <th colspan="1" nowrap="nowrap">Last 10</th>
        <th colspan="1" nowrap="nowrap">Win streak</th>

        <tr th:each=" teamStandings,itrStat : ${west}">
            <td th:text="${itrStat.index + 1}"></td>
            <td><img th:src="@{${'images/' + teamStandings.getTeamId() + '.gif'}}" th:height="20" th:width="30"></td>
            <td th:text="${teamNames.get(teamStandings.getTeamId())}" style="text-align: center" nowrap="nowrap"></td>
            <td th:text="${teamStandings.getWin()}"style="text-align: center"></td>
            <td th:text="${teamStandings.getLoss()}"style="text-align: center;"></td>
            <td th:text="${teamStandings.getWinPct()}"style="text-align: center;"></td>
            <!--<td th:text="${teamStandings.getHomeWin()}"style="text-align: center;"></td>-->
            <!--<td th:text="${teamStandings.getHomeLoss()}"style="text-align: center;"></td>-->
            <!--<td th:text="${teamStandings.getAwayWin()}"style="text-align: center;"></td>-->
            <!--<td th:text="${teamStandings.getAwayLoss()}"style="text-align: center;"></td>-->
            <td th:text="${teamStandings.getLastTenWin() + '-' + teamStandings.getLastTenLoss()}"style="text-align: center;"></td>
            <!--<td th:text="${teamStandings.getLastTenLoss()}"style="text-align: center;"></td>-->
            <td th:text="${teamStandings.getStreak()}"style="text-align: center;"></td>

        </tr>
    </table>

            <div style="margin-left: 30px">

            <table class="table table-sm ; align-middle ; text-center" border="1" style="width:300px ; text-align: center">
                <tr>
                    <th colspan="8">Eastern Conference</th>
                </tr>
                <th colspan="1">#</th>
                <th colspan="2">Team</th>
                <th colspan="1">Wins</th>
                <th colspan="1">Losses</th>
                <th colspan="1" nowrap="nowrap">Win %</th>
                <!--<th colspan="1" >Home wins</th>-->
                <!--<th colspan="1" >Home losses</th>-->
                <!--<th colspan="1" >Away wins</th>-->
                <!--<th colspan="1">Away losses</th>-->
                <th colspan="1" nowrap="nowrap">Last 10</th>
                <th colspan="1" nowrap="nowrap">Win streak</th>

                <tr th:each=" teamStandings,itrStat : ${east}">
                    <td th:text="${itrStat.index + 1}"></td>
                    <td><img th:src="@{${'images/' + teamStandings.getTeamId() + '.gif'}}" th:height="20" th:width="30"></td>
                    <td th:text="${teamNames.get(teamStandings.getTeamId())}" style="text-align: center" nowrap="nowrap"></td>
                    <td th:text="${teamStandings.getWin()}"style="text-align: center"></td>
                    <td th:text="${teamStandings.getLoss()}"style="text-align: center;"></td>
                    <td th:text="${teamStandings.getWinPct()}"style="text-align: center;"></td>
                    <!--<td th:text="${teamStandings.getHomeWin()}"style="text-align: center;"></td>-->
                    <!--<td th:text="${teamStandings.getHomeLoss()}"style="text-align: center;"></td>-->
                    <!--<td th:text="${teamStandings.getAwayWin()}"style="text-align: center;"></td>-->
                    <!--<td th:text="${teamStandings.getAwayLoss()}"style="text-align: center;"></td>-->
                    <td th:text="${teamStandings.getLastTenWin() + '-' + teamStandings.getLastTenLoss()}"style="text-align: center;"></td>
                    <!--<td th:text="${teamStandings.getLastTenWin()}"style="text-align: center;"></td>-->
                    <!--<td th:text="${teamStandings.getLastTenLoss()}"style="text-align: center;"></td>-->
                    <td th:text="${teamStandings.getStreak()}"style="text-align: center;"></td>

                </tr>
            </table>
            </div>
        </div>
</div>
    </div>
</div>
</body>
</html>