<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>

    <title>NBA Dashboard</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid" id="nav-center">
        <a class="navbar-brand" href="#"><img src="/images/nbalogo.png" width="23" height="46" class="d-inline-block align-top" alt=""></a>
        <a class="navbar-text" style="font-weight: bolder">NBA Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/scores">Scores</a>
                <a class="nav-item nav-link" href="/standings">Standings</a>
                <a class="nav-item nav-link" href="/teams">Teams</a>
                <a class="nav-item nav-link active" href="/stats">Stats<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link disabled" href="#">Disabled</a>
            </div>
        </div>
    </div>
</nav>
<div style="margin-left: 30px">

    <h1><span th:text="${pageName}">Page Name</span></h1>
    <p>Welcome to <span th:text="${pageName}">Our App</span></p>

    <div class="row" style="margin-left: 10px">

        <table class="table table-sm ; align-middle ; text-center" border="1" style="width:300px ; text-align: center">
            <tr>
                <th colspan="3">Points per Game</th>
            </tr>
            <th colspan="1">#</th>
            <th colspan="1">Player</th>
            <th colspan="1">PPG</th>
            <tr th:each=" player,itrStat : ${points}">
                <td th:text="${itrStat.index + 1}"></td>
                <td th:text="${player.getKey()}" style="text-align: center" nowrap="nowrap"></td>
                <td th:text="${player.getValue()}"style="text-align: center"></td>
            </tr>
        </table>

            <div style="margin-left: 10px">

            <table class="table table-sm ; align-middle ; text-center" border="1" style="width:300px ; text-align: center">
                <tr>
                    <th colspan="3">Rebounds per Game</th>
                </tr>
                <th colspan="1">#</th>
                <th colspan="1">Player</th>
                <th colspan="1">RPG</th>
                <tr th:each=" player,itrStat : ${rebs}">
                    <td th:text="${itrStat.index + 1}"></td>
                    <td th:text="${player.getKey()}" style="text-align: center" nowrap="nowrap"></td>
                    <td th:text="${player.getValue()}"style="text-align: center"></td>
                </tr>
            </table>
            </div>

            <div style="margin-left: 10px">

                <table class="table table-sm ; align-middle ; text-center" border="1" style="width:300px ; text-align: center">
                    <tr>
                        <th colspan="3">Assists per Game</th>
                    </tr>
                    <th colspan="1">#</th>
                    <th colspan="1">Player</th>
                    <th colspan="1">APG</th>
                    <tr th:each=" player,itrStat : ${assists}">
                        <td th:text="${itrStat.index + 1}"></td>
                        <td th:text="${player.getKey()}" style="text-align: center" nowrap="nowrap"></td>
                        <td th:text="${player.getValue()}"style="text-align: center"></td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>
        </div>
    </div>
</div>
        </div>
    </div>
</div>
</div>
</div>
</body>
</html>